.charListContainer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 5%;
    animation: transitionIn 1s;
}

.charContainer{
    display: flex;
  flex-wrap: wrap;
  justify-content: space-around; 
}

.Card{
  color: #A4830D;
  text-decoration: none;
}

.characterCard{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5%;
}

@keyframes transitionIn {
  from {
      opacity: 0;
      transform: rotateX(-10deg);
  }
  to{
      opacity: 1;
      transform: rotateX(0);
  }
}